* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.c-hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    box-shadow: none;
    cursor: pointer;
}

.c-hamburger:focus {
    outline: none;
}


/* Middle line on the button */

.c-hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: #fff;
}